.About{
     background:#01beae;
     display: grid;
     grid-template-columns: repeat(2,1fr);
}
.About-right-div{
     color: white;
     padding-left: 2%;
     padding-right: 2%;
     text-align: center;
}
.About-about-p{
     font-size: 19px;
     font-weight: normal;
}
.About-icon-div{
     display: flex;
     justify-content: center;
     gap: 2%;
}
.About-icon-div>a>img{
     height: 40px;
     border-radius: 8px;
}
.git-icon{
     background: white;
}
/* .About-resume-btn-div{

} */
.About-resume-btn{
     cursor: pointer;
     font-size: 17px;
     font-weight: bold;
     color: white;
     background: none;
     padding: 5px 30px;
     border: 2px solid white;
}
.About-resume-btn:hover{
     color: #01beae;
     background: white;
}
.About-img-div{
     padding: 2%;
     text-align: center;
     /* border: 1px solid; */
}
.About-img{
     width: 300px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
@media only screen and (min-width:442px) and (max-width: 786px) {
     .About{
          grid-template-columns: repeat(1,1fr);
     }
}
@media only screen and (min-width:0px) and (max-width: 441px) {
     .About{
          grid-template-columns: repeat(1,1fr);
     }
     .About-img{
          width: 200px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     }
 }