.Front{
     /* border: 1px solid; */
     height: 596px;
     color: #272341;
}
.Front-top-div{
     padding-left: 100px;
     padding-top: 130px;
     /* border: 1px solid; */
}
.Front-my-name{
     
     font-size: 3.5rem;
     margin-bottom: 8px;
}
.Front-developer{
     margin-top: 8px;
     font-size: 3.5rem;
}
.Front-know-more{
     cursor: pointer;
     font-size: 17px;
     font-weight: bold;
     color: #01beae;
     background: none;
     padding: 10px 30px;
     border: 2px solid #01beae;
}
.Front-know-more:hover{
     
     color: white;
     background: #01beae;
}