.TechStack{
     padding: 1%;
     padding-bottom: 5%;
     color: #272341;
     text-align: center;
}
.TechStack-container{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 2%;
}
.TechStack-table-name{
     font-size: 18px;
     font-weight: 500;
}
@media only screen and (min-width:442px) and (max-width: 786px) {
     .TechStack-container{
          grid-template-columns: repeat(3,1fr);
          grid-gap: 2%;
     }
}
@media only screen and (min-width:0px) and (max-width: 441px) {
     .TechStack-container{
          grid-template-columns: repeat(2,1fr);
          grid-gap: 2%;
     }
     .TechStack-small-screen{
          height: 40px;
     }
 }